  body
  {
    background-color: #2B2B52;
  }
  .heading{
    
    text-decoration-color: cyan;
    padding-left:400px;
    font-size:50px; 
    text-decoration: underline overline;
    font-weight: bolder;
    color: white;
    margin-left:5% ;
  }
  #head
  {
    height:250px;
    width:100%;
  }

  table,td
  { 
      font-weight:bold;
      font-size:20px;
    padding:8px;
  border:2px solid black;
  }
  #pic
  {
    height:150px;
    width:150px;
  }
  tr:nth-child(even)
  {
    background-color:white;
  }
  tr:nth-child(odd)
  {
    background-color:brown;
  }
  .table{
    margin-left: 3%;
    margin-right: 3%;

  }
  .sub_2{
      background-color:orangered;
    border-color: snow;
    border-radius: 20px;
    color:snow;
    height:auto;
    width: 20%;
    height:50%;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top:3px;
    margin-left: 40%;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .sub_2:hover{
      background-color: floralwhite;
      color: black;
      border-color: orangered;
  }