body {
  background-color: #2b2b52;
}
h1{
  border-radius: 35px;
}
h3{
  border-radius: 15px;
}
#head
{
	height:200px;
	width:100%;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -60%);
}
.img1 {
  height: auto;
  width: 70%;
  margin-left: 4%;
  height: auto;
  margin-right: 4%;
}
h1 {
  text-align: center;
  background-color: #0a3d62;
  color: blanchedalmond;
  margin-top: 40px;
  margin-left: 40%;
  margin-right: 40%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 85%;
  
}
h3 {
  text-align: center;
  background-color: ivory;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.teacher {
  text-align: center;
  background-color: ivory;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: left;
  margin-left: 20em;
  margin-top: 20px;
  transition-duration: 0.4s;
  cursor: text;
}
#lname {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 20em;
  transition-duration: 0.4s;
  cursor: text;
}
#mail {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 22em;
  transition-duration: 0.4s;
  cursor: text;
}
#phone {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 17em;
  transition-duration: 0.4s;
  cursor: text;
}
#class {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 23.5em;
  transition-duration: 0.4s;
  cursor: text;
}
#subject {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 3em;
  margin-right: 4em;
  transition-duration: 0.4s;
  cursor: pointer;
}
.sub {
  margin-right: 15%;
}
#fee{
    width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 30em;
  transition-duration: 0.4s;
  cursor: text;

}
#time {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 18em;
  transition-duration: 0.4s;
  cursor: pointer;
}
#state {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 21.5em;
  transition-duration: 0.4s;
  cursor: pointer;
}
#city {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 22em;
  transition-duration: 0.4s;
  cursor: pointer;
}
#area {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  float: inline-start;
  margin-left: 22em;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#submit {
  background-color: rgb(1, 6, 82);
  border-radius: 20px;
  color: #ccc;
  margin-bottom: 20px;
  width: 10%;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
}
#submit:hover {
  background-color: floralwhite;
  color: black;
}
#submit:hover {
  background-color: floralwhite;
  color: black;
}
#name:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#lname:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}

#mail:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#phone:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#class:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#subject:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#state:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#city:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#time:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#area:hover {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;
}
#fee:hover{
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 20px;

}
